# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# VS Code settings
.vscode/

# IDE/editor folders
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Uvicorn reload files
reload/

# Mac OS swap files
.DS_Store

# dotenv
.env
